<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Country Search Trend</h1>
    <form action="" method="POST">
      <div>
        <label for="name">Country Name</label>
        <input type="text" id="country_name" name="country_name" />
      </div>
      <div>
        <label for="name">Trend Title</label>
        <input type="text" id="trend_title" name="trend_title" />
      </div>
      <div>
        <label for="name">Trend Url</label>
        <input type="text" id="trend_url" name="trend_url" />
      </div>
      <div>
        <label for="name">Formatted Traffic</label>
        <input type="text" id="formatted_traffic" name="formatted_traffic" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
